@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* 

navbar_hover: #F2F2F2;
blue:#67CEF3;

*/

.navbar_shadow{
  box-shadow: 0 0 10px rgb(195, 195, 195);
  color: #4b4a4a4d;
}

.nav_menu_shadow{
  box-shadow: 10px 5px 10px rgba(238, 236, 236, 0.283);
}

.scrollbar_hide::-webkit-scrollbar{
  display: none;
}

.chat_shadow{
  box-shadow: 1px 1px 10px #0000009a;
}

.chat_box_shadow{
  box-shadow: 1px 1px 10px #0000006f;
}